.Combat{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(/maps/MainMap.png);
    background-size: cover;
    
    image-rendering: pixelated;
}

.combat_Player1, .combat_Player2{
    position: absolute;
    transform: scale(1);
    width: 32px;
    height: 32px;
    overflow: hidden;
    background: url(/Sprites/shadow.png) no-repeat no-repeat;

}

.combat_Player1 img, .combat_Player2 img {
    pointer-events: none;
}

.combat_Player1{
    bottom: 40px;
    left: 0px;
}

.combat_Player2{ 
    top: 120px;
    right: 0px;
}

.skill_Points1, .skill_Points2{
    position: absolute;
    overflow: hidden;
}

.skill_Points1{
    bottom: 62px;
    left: -12px
}

.skill_Points2{
    top: 52px;
    right: -12px
}

/* ANIMS */

@keyframes damage-blinker {
    to {
        visibility: hidden;
    }
}

.damage-blinker {
    animation: damage-blinker 0.3s steps(2, start) infinite;
}

@keyframes lunge-right {
    0% { transform: translate3d(0,0,0) rotate(0deg) ;}
    25% { transform: translate3d(100%,0,0) rotate(25deg);}
    100% { transform: translate3d(0,0,0) ;}
}

.lunge-right {
    animation: lunge-right 0.8s;
}

@keyframes lunge-left {
    0% { transform: translate3d(0,0,0) rotate(0deg) scaleX(-1);}
    25% { transform: translate3d(-100%,0,0) rotate(-25deg) scaleX(-1);}
    100% { transform: translate3d(0,0,0) scaleX(-1);}
}

.lunge-left {
    animation: lunge-left 0.8s;
}

@keyframes bash-right {
    0% { transform: translate3d(0,0,0) rotate(0deg) ;}
    25% { transform: translate3d(100%,0,0) rotate(0deg);}
    100% { transform: translate3d(0,0,0) ;}
}

.bash-right {
    animation: bash-right 0.8s;
}

@keyframes bash-left {
    0% { transform: translate3d(0,0,0) rotate(0deg) scaleX(-1);}
    25% { transform: translate3d(-100%,0,0) rotate(0deg) scaleX(-1);}
    100% { transform: translate3d(0,0,0) scaleX(-1);}
}

.bash-left {
    animation: bash-left 0.8s;
}

@keyframes shoot-right {
    0% { transform: translate3d(0,0,0) rotate(0deg) ;}
    25% { transform: translate3d(0,0,0) rotate(-25deg);}
    100% { transform: translate3d(0,0,0) ;}
}

.shoot-right {
    animation: shoot-right 0.8s;
}

@keyframes shoot-left {
    0% { transform: translate3d(0,0,0) rotate(0deg) scaleX(-1);}
    25% { transform: translate3d(0,0,0) rotate(25deg) scaleX(-1);}
    100% { transform: translate3d(0,0,0) scaleX(-1);}
}

.shoot-left {
    animation: shoot-left 0.8s;
}

.orb {
    position: absolute;
    width: 32px;
    height: 32px;
}

@keyframes orb-right {
    0% { transform: translate3d(0,0,0) scale(0.5); opacity: 1;}
    25% { transform: translate3d(0,20,0) scale(1); opacity: 1;}
    50% { transform: translate3d(0,120,0) scale(2); opacity: 1;}
    100% { transform: translate3d(0,130,0) scale(3); opacity: 0;}
}

.orb-right {
    left: 68px;
    bottom: 63px;
    animation: orb-right 1s forwards;
}

@keyframes orb-left {
    0% { transform: translate3d(0,0,0) scale(0.5); opacity: 1;}
    25% { transform: translate3d(0,20,0) scale(1); opacity: 1;}
    50% { transform: translate3d(0,120,0) scale(2); opacity: 1;}
    100% { transform: translate3d(0,130,0) scale(3); opacity: 0;}
}

.orb-left {
    right: 78px;
    bottom: 55px;
    animation: orb-left 1s forwards;
}