.character-picker-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    
}

.submit-button{
    margin-top: 20px; /* Adjust the margin as needed */
}

.character-picker {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.character-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.selected-character-display {
    position: absolute;
    top: 200px;
    right: 47.7%;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    background-color: rgba(0,0,0,0)
}

.selected-character-display img {
    width: 50px;
    height: 50px;
}

.submitted-character-display {
    position: fixed;
    transform: translate(0, -50%);
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    background-color: rgba(0,0,0,0)
}

.submitted-character-display[data-user = "player_1"][data-slot = "first"] {
    top: 50%;
    left: 17.5%;
}

.submitted-character-display[data-user = "player_1"][data-slot = "second"] {
    top: 62%;
    left: 17.5%;
}

.submitted-character-display[data-user = "player_1"][data-slot = "third"] {
    top: 74%;
    left: 17.5%;
}
.submitted-character-display[data-user = "player_2"][data-slot = "first"] {
    top: 48%;
    right: 17.5%;
}

.submitted-character-display[data-user = "player_2"][data-slot = "second"] {
    top: 60%;
    right: 17.5%;
}

.submitted-character-display[data-user = "player_2"][data-slot = "third"] {
    top: 72%;
    right: 17.5%;
}
.submitted-character-display img {
    width: 50px;
    height: 50px;
}

.playerLabel .playerLabel_2{
    position: fixed;
    transform: translate(0, -50%);
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.player{
    font-size: 20pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.player_1{
    position: fixed;
    top: 35%;
    left: 17.5%;
}

.player_2{
    position: fixed;
    top: 35%;
    right: 17.5%;
}